body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    background-color: white;
}
.canvas{
    width: 400px;
    height: 400px;
    margin: auto;
    
}